.piece-description{
    padding-top:10%;
    padding-bottom: 2%;
    background-color: whitesmoke;
}

.accordion {
    width: 100%;
    background-color: white;
    margin-bottom: 10px;
}

.accordion-header {
    padding: 10px;
    cursor: pointer;
    background-color: white;
    border-bottom: 1px solid #ccc;
}

.accordion-content {
    display: none;
    padding: 10px;
    background-color: white;
    border-top: none;
}

/* Always open history first */
.accordion.open .accordion-content {
    display: block;
}

.large-iframe {
    width: 100%; 
    height: 400px; 
}
