@charset "UTF-8";
/*!
=========================================================
* FelipedelosH
=========================================================

* Copyright: 2023 FelipedelosH
* Licensed: https://github.com/felipedelosh
* Coded by https://github.com/felipedelosh/AFE-PORTFOLIO

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
*/


/*!
Father Effects
This is a most comond effects in page
*/
.linkeable_element{
    cursor: pointer;
}
/*!
END Father Effects
*/



/*!
=======================================================================
*/


/*!
Header
*/
.navbar_desktop{
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 4%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.navbar_logo_img img{
    padding: 0%;
    margin: 0%;
    max-height: 60%;
}

.navbar-custom{
    background-color: white !important
}

.navbar-custom .nav-link {
    color: black !important;
 }
/*!
END Header
*/


/*!
HERO CONTAINER
*/
.hero_container{
    background-color: black;
}

.hero_container .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: auto;
}

.img_page_hero{   
    max-width: 100%;
    max-height: 100%;
    width: 30%;
    height: 40%;
}


.btn-started{
    color: white;
}
/*!
END HERO CONTAINER
*/


/*!
END CONTENT
*/
.artefacts{
    padding-top: 2%;
    padding-bottom: 2%;
}


.card-container{
    background-color: aquamarine;
}

/*!
END CONTENT
*/



/*!
FOOTER
*/
.footer{
    background-image: url('../img/banner/footer-bg.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100vh; 
    padding-top: 12%;
    color: white;
}

.footer .container{
    height: 100%;
}

.university_logos .col {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
}

.university_logos .col img {
    max-width: 100%;
    height: auto;
}

.hr-footer{
    padding: 0%;
}

.copyright{
    display: flex;
    padding-bottom: 6%;
    flex-direction: column;
    justify-content: flex-end; /* Empuja el contenido hacia la parte baja del contenedor */
    align-items: center; /* Centra horizontalmente el contenido */
    height: 20vh; 
}
/*!
END FOOTER
*/


/*!
======================================================
*/

.btn-bottom-floating{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 2%;
    right: 2%;
    transition: all 300ms ease 0ms;
    z-index: 99;
    background-color: #006369;
    border-radius: 20%;
}


.btn-bottom-floating svg{
    color: white;
    width: 20px;
    height: 20px
}