@charset "UTF-8";
/*!
=========================================================
* FelipedelosH
=========================================================

* Copyright: 2023 FelipedelosH
* Licensed: https://github.com/felipedelosh
* Coded by https://github.com/felipedelosh/AFE-PORTFOLIO

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
*/


/*!
Father Effects
This is a most comond effects in page
*/


/*!
END Father Effects
*/



/*!
=======================================================================
*/


/*!
Header
*/
.navbar_desktop{
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 4%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.navbar_logo_img img{
    padding: 0%;
    margin: 0%;
    max-height: 60%;
}

.navbar-custom{
    background-color: white !important
}

.navbar-custom .nav-link {
    color: black !important;
 }
/*!
END Header
*/


/*!
HERO CONTAINER
*/
.hero_container{
    background-color: black;
}

.hero_container .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: auto;
}

.img_page_hero{   
    max-width: 100%;
    max-height: 100%;
    width: 30%;
    height: 40%;
}

/*!
END HERO CONTAINER
*/




/*!
FOOTER
*/
/*!
END FOOTER
*/


/*!
======================================================
*/