<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>MUSEO-A&E-UCALDAS-PIECE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="ejemplo plantilla HTML" />
    <meta name="keywords" content="3D, museo, online" />
    <meta name="author" content="FelipedelosH" />
    <meta name="copyright" content="FelipedelosH" />
    <meta name="robots" content="/" />
    <link rel="stylesheet" href="assets/css/styles.css" />
    <link rel="stylesheet" href="assets/css/piece.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/vendors/aos/aos.css" />
    <link rel="icon" type="image/x-icon" href="assets\img\ico\ico.png" />
  </head>
  <body>
    <!--Header Section-->
    <div class="header">
      <div class="container">
        <div class="navbar_desktop fixed-top">
          <div class="row">
            <div class="col-4 navbar_logo_img">
              <img
                class="linkeable_element  home-logo"
                src="assets/img/logo/logo.png"
                alt="museo devia logo"
              />
            </div>
            <div class="col-8">
              <nav class="navbar navbar-expand-lg navbar-custom">
                <div
                  class="collapse justify-content-end navbar-collapse"
                  id="navbarNavDropdown"
                >
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="index.html">HOME</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdownMenuLink"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        PIEZAS
                      </a>
                      <ul
                        class="dropdown-menu"
                        aria-labelledby="navbarDropdownMenuLink"
                        >
                          <li><a class="dropdown-item" href="arq-list.html">Arqueológico</a></li>
                          <li><a class="dropdown-item" href="etn-list.html">Etnográfico</a></li>
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="contact.html">CONTACTO</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
        <!--END navbar_desktop-->
      </div>
    </div>
    <!--END Header Section-->
    <!--PIECE DESCRIPTION-->
        <div class="piece-description">
            <div class="container">
                <div class="row" data-aos="fade-up">
                    <p class="h3">DESCRIPCIÓN PIEZA</p>
                </div>
                <div class="row">
                    <div class="col-6 container-image-piece" data-aos="fade-right">
                        <img src="assets/img/gallery/example-piece.png" alt="example-piece">
                    </div>
                    <div class="col-6">
                        <div class="accordion" data-aos="fade-up">
                            <div class="accordion-header">Modelado 3D</div>
                        </div>
                        <div class="accordion" data-aos="fade-up">
                            <div class="accordion-header">Descripción de la pieza</div>
                            <div class="accordion-content">
                              <p>Cl/001-043-02-2-4983</p>
                              <p>BLA BLA BLA</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="accordion open" data-aos="fade-up">
                        <div class="accordion-header">Característica de la pieza</div>
                        <div class="accordion-content">
                            <p>
                                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit… No hay nadie que ame el dolor en sí mismo, que lo busque y lo quiera tener, simplemente porque es dolor…
                            </p>
                            <p>
                                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit… No hay nadie que ame el dolor en sí mismo, que lo busque y lo quiera tener, simplemente porque es dolor…
                            </p>
                            <p>
                                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit… No hay nadie que ame el dolor en sí mismo, que lo busque y lo quiera tener, simplemente porque es dolor…
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--END PIECE DESCRIPTION-->
    <!--FOOTER-->
    <div class="footer">
      <div class="container">
         <div class="row university_logos">
            <div class="col">
               <img
                 src="assets/img/logo/LOGO_UNIVERSIDAD_A.png"
                 alt="logo universidad A"
               />
             </div>
             <div class="col">
               <img
                 src="assets/img/logo/LOGO_UNIVERSIDAD_B.png"
                 alt="logo universidad A"
               />
             </div>
             <div class="col">
               <img
                 src="assets/img/logo/LOGO_UNIVERSIDAD_C.png"
                 alt="logo universidad A"
               />
             </div>
         </div>
         <hr class="hr-footer">
         <div class="copyright">
            <strong><p class="h6 text-center">MUSEO ETNOGRÁFICO Y ARQUELÓGICO UCALDAS</p></strong>
            <p class="h6 text-center">Diseño web por FelipedelosH</p>
            <p class="h6 text-center">juliana.2051722656@ucaldas.edu.co</p>
          </div>
      </div>
    </div>
    <!--FOOTER-->
    <!-- BTN GO TO TOP -->
    <div class="btn-bottom-floating linkeable_element">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-arrow-up"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"
        />
      </svg>
    </div>
    <!-- END  BTN GO TO TOP -->
    <!-- core  -->
    <script src="assets\js\bootstrap.js"></script>
    <script src="assets\vendors\jquery\jquery.js"></script>
    <script src="assets\js\cookie.js"></script>
    <script src="assets\vendors\aos\aos.js"></script>
    <script src="assets\js\aos-init-acordion.js"></script>
    <!--PAGE MAIN Js File-->
    <script src="assets\js\main.js"></script>
  </body>
</html>
